@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.rdp {
  --rdp-cell-size: 40px !important;
  --rdp-accent-color: #00A0D5 !important;
  --rdp-background-color: #e7edff !important;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #1cdae5 !important;
  --rdp-background-color-dark: #0063d5 !important;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color) !important;
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75) !important;
}

.neon-green {
  color: #00A0D5;
  text-shadow: 0 0 10px #00A0D5, 0 0 1px #00A0D5;
}

.chat {
  --rad: 20px;
  --rad-sm: 3px;
  font: 16px/1.5 sans-serif;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 500px; 
  width: 100%;
  margin: 0;
  overflow: auto;
  border-radius: 6px;
  border: 2px solid #00A0D5;
  @media (max-height: 750px) {
    height: 320px;
  }
  @media (max-height: 700px) {
    height: 330px;
  }

 
  
  
  
}

.msg {
  position: relative;
  max-width: 75%;
  padding: 7px 15px;
  margin-bottom: 2px;
}

.msg.sent {
  border-radius: var(--rad) var(--rad-sm) var(--rad) var(--rad);
  background: #001C25;
  color: #fff;
  /* moves it to the right */
  margin-left: auto;
}

.msg.rcvd {
  border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad);
  background: #00A0D5;
  color: #fff;
  /* moves it to the left */
  margin-right: auto;
}

/* Improve radius for messages group */

.msg.sent:first-child,
.msg.rcvd + .msg.sent {
  border-top-right-radius: var(--rad-sm);
}

.msg.rcvd:first-child,
.msg.sent + .msg.rcvd {
  border-top-left-radius: var(--rad-sm);
}

/* time */

.msg::before {
  content: attr(data-time);
  font-size: 0.8rem;
  position: absolute;
  bottom: 100%;
  color: #888;
  white-space: nowrap;
  /* Hidden by default */
  display: none;
}

.msg.sent::before {
  right: 15px;
}

.msg.rcvd::before {
  left: 15px;
}

/* Show time only for first message in group */

.msg:first-child::before,
.msg.sent + .msg.rcvd::before,
.msg.rcvd + .msg.sent::before {
  /* Show only for first message in group */
  display: block;
}

